html {
    background-color: #4f4f4f;
    color: #f4f4f4;
    font-family: Alpha-Echo;
    cursor: default;
    overflow-y: hidden;

    width: 100%;
    height: 100%;
}

body {
    overflow-y: hidden; 
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    width: 100%;
    margin-left: 25px;
    margin-top: 40px;
}

.ad {
    align-self: center;
    justify-self: center;

    width: 100%;
}